
@{
    ViewData["Title"] = "AdminIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AdminIndex</h2>

<p>
    <ul>
        <li>@Html.ActionLink("Be a client", "Index", "Client")</li>
        <li>@Html.ActionLink("Be a developer", "Index", "Developer")</li>
        <li>@Html.ActionLink("Be a freelancer", "Index", "Freelancer")</li>
    </ul>
</p>