@model WebApp2Prosjekt.Models.ViewModels.CreateTaskViewModel

@{
    ViewData["Title"] = "SubmitTask";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SubmitTask</h2>

<h4>Create Task</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SubmitTask">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpecialityFieldId" class="control-label"></label>
                <select asp-for="SpecialityFieldId" asp-items="@(new SelectList(Model.SpecialityFields, "SpecialityFieldId", "Type"))" class="form-control">
                    <option>---Please select one---</option>
                </select>
                <span asp-validation-for="SpecialityFieldId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeveloperId" class="control-label"></label>
                <select asp-for="DeveloperId" asp-items="@(new SelectList(Model.Developers, "Id", "UserName"))" class="form-control">
                    <option>---Please select one---</option>
                </select>
                <span asp-validation-for="DeveloperId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
